<div class="container mt-3 mb-3">
  <h3>いいねした投稿一覧</h3>
    <% @favorite_post_images.each do |post_image| %>
      <div>
        <%= link_to post_image_path(post_image.id) do %>
        <%= attachment_image_tag post_image, :image, size:"100x100" %>
        <% end %>
      </div>
    <% end %>
</div>