/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

@import 'homes';

@font-face{
    font-family:'Corporate-Mincho-ver2';
    src: font-url('Corporate-Mincho-ver2.ttf');
}

header{
  font-family:'Corporate-Mincho-ver2';
}

main{
  font-family:'Corporate-Mincho-ver2';
}

footer{
  font-family:'Corporate-Mincho-ver2';
}

.image_show{
width: 200px;
height: 200px;
object-fit: contain; // 200 x 200 の内側に縦横比を保っ画像全体を表示
}

.post_image_thumb{
width: 100px;
height: 100px;
object-fit: cover; // 100 x 100 の内側に縦横比を保って中央に表示、サイズをオーバーした部分は表示しない
}

